{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'ept-paragraph',
  'ept-basic-button',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  'ept-paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'paragraph-id-' ~ paragraph.id(),
]
%}

{% if content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.add_nofollow is not empty and content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.add_nofollow == 1 %}
  {% set nofollow = ' rel="nofollow"' %}
{% else %}
  {% set nofollow = '' %}
{% endif %}

{% if content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.open_in_new_tab is not empty and content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.open_in_new_tab == 1 %}
  {% set target = ' target="_blank"' %}
{% else %}
  {% set target = '' %}
{% endif %}

{% if content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.alignment == 'left' %}
  {% set classes = classes|merge(['ept-align-left']) %}
{% elseif content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.alignment == 'center' %}
  {% set classes = classes|merge(['ept-align-center']) %}
{% elseif content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.alignment == 'right' %}
  {% set classes = classes|merge(['ept-align-right']) %}
{% endif %}

{% if content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.shape == 'square' %}
  {% set classes = classes|merge(['ept-shape-square']) %}
{% elseif content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.shape == 'round' %}
  {% set classes = classes|merge(['ept-shape-round']) %}
{% elseif content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.shape == 'circle' %}
  {% set classes = classes|merge(['ept-shape-circle']) %}
{% endif %}


{% if content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.size == 'small' %}
  {% set classes = classes|merge(['ept-size-small']) %}
{% elseif content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.size == 'medium' %}
  {% set classes = classes|merge(['ept-size-medium']) %}
{% elseif content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.size == 'large' %}
  {% set classes = classes|merge(['ept-size-large']) %}
{% endif %}

{% if content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.stetched is not empty and content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.stetched == 1 %}
  {% set classes = classes|merge(['ept-stretched']) %}
{% endif %}

{% if content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.stretched is not empty and content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.stretched == 1 %}
  {% set classes = classes|merge(['ept-stretched']) %}
{% endif %}

{% if content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.custom_class_name is not empty %}
  {% set button_custom_classes = content.field_ept_settings['#object'].field_ept_settings.0.ept_settings.custom_class_name %}
{% endif %}

{{ attach_library('ept_basic_button/ept_basic_button_view') }}
<div{{ attributes.addClass(classes) }}>
  <div class="bg-inner"></div>
  <div class="ept-container">
    {% if content.field_ept_title|render %}
      <h2>
        {{ content.field_ept_title }}
      </h2>
    {% endif %}
    {{ content|without('field_ept_settings', 'field_ept_basic_button_link', 'field_ept_title') }}
    <span class="ept-basic-button-wrapper">
      <a href="{{ content.field_ept_basic_button_link.0['#url'] }}" class="ept-basic-button {{ button_custom_classes }}" {{ nofollow|raw }} {{ target|raw }}>{{ content.field_ept_basic_button_link.0['#title'] }}</a>
    </span>
  </div>
</div>
{{ styles|raw }}
{{ button_styles|raw }}
